Host bastion
  User root
  HostName 139.219.108.46
  IdentityFile ~/.ssh/id_rsa
  BatchMode yes
  PasswordAuthentication no  

Host VM-Web01
  HostName 10.20.2.81
  User root
  ProxyCommand ssh bastion -F ssh.config nc %h %p
  IdentityFile ../id_rsa_basion

Host VM-Web02
  HostName 10.20.2.82
  User root
  ProxyCommand ssh bastion -F ssh.config nc %h %p
  IdentityFile ../id_rsa_basion

  Host VM-Kafka02
  HostName 10.20.2.91
  User root
  ProxyCommand ssh bastion -F ssh.config nc %h %p
  IdentityFile ../id_rsa_basion

Host VM-Kafka03
  HostName 10.20.2.92
  User root
  ProxyCommand ssh bastion -F ssh.config nc %h %p
  IdentityFile ../id_rsa_basion

  Host test
  HostName 10.20.2.81
  User root
  ProxyCommand ssh -q -A root@139.219.108.46 nc %h %p  
  IdentityFile ../id_rsa_basion
